name: Test-build

on:
  push:
    branches:
      - main

jobs:
  test-api:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Make directory for results
        run: mkdir -p testResults

      - name: Run Postman collection
        continue-on-error: true
        run: |
          mkdir -p newman-report
          newman run petstore.collection.json \
            -r htmlextra \
            --reporter-htmlextra-export newman-report/index.html \
            --reporter-htmlextra-darkTheme

      - name: Output the run Details
        uses: actions/upload-artifact@v4
        with:
          name: Runreports
          path: newman-report

      - name: Publish report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./newman-report
